---
BasedOnStyle: Google
AccessModifierOffset: '-4'
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: 'true'
AlignEscapedNewlines: DontAlign
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowAllArgumentsOnNextLine: 'false'
AllowAllConstructorInitializersOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
#AllowShortBlocksOnASingleLine: 'true'
AlwaysBreakTemplateDeclarations: 'Yes'
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: 'true'
ColumnLimit: '100'
ContinuationIndentWidth: '4'
IncludeBlocks: Regroup
IndentCaseLabels: 'true'
IndentWidth: '4'
Language: Cpp
TabWidth: '4'

...
